.footer ul{
  list-style: none;
  text-align: center;
}

.footer{
  display: flex;
  justify-content: center;
}

.header{
  display: flex;

}

img {
  padding-left: 50px;
}

.header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 150px;
}

.header ul li{
  padding: 0 25px;

}
button {
  right: 117px;
  height: 40px;
  width: 100px;
  position: absolute;
  margin-top: 5px;
}